<main>
   <section id="banner">
      <picture></picture>
      <h3>Tisztelt {{ dashboard.user.name }}!</h3>
   </section>
   <section id="widgets">
      <div class="widget-column">
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ dashboard.widget.name }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">200</span>
            </div>
         </div>
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ dashboard.widget.name }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ dashboard.widget.name }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
      </div>
      <div class="widget-column">
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ dashboard.widget.name }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ dashboard.widget.name }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ dashboard.widget.name }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
      </div>
      <div class="widget-column">
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ dashboard.widget.name }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ dashboard.widget.name }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ dashboard.widget.name }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
      </div>
   </section>
</main>
