<main>
   <section id="banner">
      <picture></picture>
      <h3>{{ "DASHBOARD_GREETING" | translate }} Adamcsik Tamás!</h3>
   </section>
   <section id="widgets">
      <div class="widget-column">
         <app-widget
            widgetTitleKey="DASHBOARD_WIDGET_EVENTS"
            iconName="event"
            [items]="upcomingEvents"
            itemDisplayProperty="name"
            itemDetailProperty="date"
            (itemClicked)="handleItemClick($event, 'DASHBOARD_WIDGET_EVENTS')"
         >
         </app-widget>

         <app-widget
            widgetTitleKey="DASHBOARD_WIDGET_RESULTS"
            iconName="assessment"
            notificationCount="7"
            [items]="results"
            itemDisplayProperty="name"
            itemDetailProperty="detail"
            viewAllLink="/results"
            viewAllLinkTextKey="VIEW_GRADES"
            (itemClicked)="handleItemClick($event, 'DASHBOARD_WIDGET_RESULTS')"
         >
         </app-widget>

         <app-widget
            widgetTitleKey="DASHBOARD_WIDGET_MESSAGES"
            iconName="chat_bubble_outline"
            notificationCount="77"
            [items]="messages"
            itemDisplayProperty="name"
            itemDetailProperty="detail"
            itemDateProperty="date"
            viewAllLink="/messages"
            viewAllLinkTextKey="ALL_MESSAGES"
            (itemClicked)="handleItemClick($event, 'DASHBOARD_WIDGET_MESSAGES')"
         >
         </app-widget>
      </div>

      <div class="widget-column">
         <app-widget
            widgetTitleKey="DASHBOARD_WIDGET_CREDITS"
            iconName="school"
         >
            <div class="credits-widget-content">
               <mat-progress-spinner
                  class="credits-spinner"
                  mode="determinate"
                  [value]="
                     (fulfilledCredits.current / fulfilledCredits.total) * 100
                  "
               >
               </mat-progress-spinner>
               <div class="credits-text">
                  <strong>{{ fulfilledCredits.current }}</strong> /
                  {{ fulfilledCredits.total }}
               </div>
               <div class="credits-label">
                  {{ "CREDITS_EARNED" | translate }}
               </div>
            </div>
         </app-widget>

         <app-widget
            widgetTitleKey="DASHBOARD_WIDGET_EXAMS"
            iconName="edit_calendar"
            [items]="exams"
            (itemClicked)="handleItemClick($event, 'DASHBOARD_WIDGET_EXAMS')"
         >
         </app-widget>

         <app-widget
            widgetTitleKey="DASHBOARD_WIDGET_NEWS"
            iconName="article"
            notificationCount="5+"
            (itemClicked)="handleItemClick($event, 'DASHBOARD_WIDGET_NEWS')"
         >
         </app-widget>
      </div>

      <div class="widget-column">
         <app-widget
            widgetTitleKey="DASHBOARD_WIDGET_TODO"
            iconName="checklist"
            notificationCount="17"
            [items]="todoItems"
            itemDisplayProperty="name"
            itemDetailProperty="deadline"
            viewAllLink="/todo"
            viewAllLinkTextKey="ALL_ITEMS_TO_DO"
            (itemClicked)="handleItemClick($event, 'DASHBOARD_WIDGET_TODO')"
         >
         </app-widget>

         <app-widget
            widgetTitleKey="DASHBOARD_WIDGET_AVERAGES"
            iconName="trending_up"
         >
            <div class="averages-widget-content">
               <div class="average-value">{{ averages.cci }}</div>
               <div>{{ "CORRECTED_CREDIT_INDEX" | translate }} (CCI)</div>
               <button mat-button (click)="navigateTo('/averages')">
                  {{ "MORE" | translate }}
               </button>
            </div>
         </app-widget>

         <app-widget
            widgetTitleKey="DASHBOARD_WIDGET_DEBTS"
            iconName="payment"
            (itemClicked)="handleItemClick($event, 'DASHBOARD_WIDGET_DEBTS')"
         >
         </app-widget>
      </div>
   </section>
</main>
