<main>
   <section id="banner">
      <picture></picture>
      <h3>{{ "DASHBOARD_GREETING" | translate }} Adamcsik Tamás!</h3>
   </section>
   <section id="widgets">
      <div class="widget-column">
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ "DASHBOARD_WIDGET_EVENTS" | translate }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">200</span>
            </div>
         </div>
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ "DASHBOARD_WIDGET_RESULTS" | translate }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ "DASHBOARD_WIDGET_MESSAGES" | translate }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
      </div>
      <div class="widget-column">
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ "DASHBOARD_WIDGET_CREDITS" | translate }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ "DASHBOARD_WIDGET_EXAMS" | translate }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ "DASHBOARD_WIDGET_NEWS" | translate }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
      </div>
      <div class="widget-column">
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ "DASHBOARD_WIDGET_TODO" | translate }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ "DASHBOARD_WIDGET_AVERAGES" | translate }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
         <div class="widget">
            <div class="widget-title">
               <picture>
                  <img src="" />
               </picture>
               <h4>{{ "DASHBOARD_WIDGET_DEBTS" | translate }}</h4>
            </div>
            <div class="widget-notification">
               <span class="notification">2</span>
            </div>
         </div>
      </div>
   </section>
</main>
