<header *ngIf="visible">
   <div id="icon-menu-container">
      <a [routerLink]="['/dashboard']">
         <picture>
            <img src="images/neptun-icon.svg" alt="NEPTUN LOGO" />
         </picture>
      </a>
      <div id="menu-search-container">
         <app-nav-menu></app-nav-menu>
         <label for="search">
            <picture>
               <img src="icons/search.svg" />
            </picture>
            <input
               type="search"
               placeholder="{{ 'HEADER_SEARCH_PLACEHOLDER' | translate }}"
               id="search"
            />
         </label>
      </div>
   </div>
   <div id="user-menu">
      <button mat-flat-button color="primary" [routerLink]="['/profile']">
         {{ "HEADER_PROFILE" | translate }}
      </button>
      <button mat-flat-button color="primary" [routerLink]="['/users']">
         {{ "HEADER_USERS" | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="logout()">
         {{ "HEADER_LOGOUT" | translate }}
      </button>
   </div>
</header>
