<header *ngIf="visible">
   <div id="icon-menu-container">
      <a [routerLink]="['/dashboard']">
         <picture>
            <img src="images/neptun-icon.svg" alt="NEPTUN LOGO" />
         </picture>
      </a>
      <div id="menu-search-container">
         <div id="menu">
            <span>{{ "HEADER_MENU" | translate }}</span>
            <picture>
               <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-down"
                  viewBox="0 0 16 16"
               >
                  <path
                     fill-rule="evenodd"
                     d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                  />
               </svg>
            </picture>
         </div>
         <label for="search">
            <picture>
               <img src="icons/search.svg" />
            </picture>
            <input
               type="search"
               placeholder="{{ 'HEADER_SEARCH_PLACEHOLDER' | translate }}"
               id="search"
            />
         </label>
      </div>
   </div>
   <div id="user-menu">
      <button (click)="logout()">{{ "HEADER_LOGOUT" | translate }}</button>
   </div>
</header>
