footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-block: 0.5rem;
   color: var(--neptun-white);

   & div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      font-size: small;
   }
}
