<footer>
   <div class="footer-left">
      <picture>
         <source
            media="(max-width: 600px)"
            srcset="images/neptun-logo-white.svg"
         />
         <img
            src="images/neptun-logo-white.svg"
            alt="Footer Image"
            class="footer-image"
         />
      </picture>
      <p class="footer-text">{{ "FOOTER_TEXT" | translate }}</p>
   </div>

   <div class="footer-right">
      <button class="feedback-button" (click)="toggleFeedbackForm()">
         <mat-icon>feedback</mat-icon>
         <span>{{ "FOOTER_SEND_FEEDBACK" | translate }}</span>
      </button>
      <app-language-switcher></app-language-switcher>
   </div>
</footer>

<app-feedback-form
   *ngIf="showFeedbackForm"
   (closeForm)="toggleFeedbackForm()"
></app-feedback-form>
