<header>
   <picture>
      <img src="/images/neptun-logo.svg" alt="Colored NEPTUN Logo" />
   </picture>
</header>
<main>
   <h2>{{ "LOGIN_TITLE" | translate }}</h2>
   <div class="login-container">
      <form [formGroup]="loginForm" (ngSubmit)="LogIn()">
         <h4>{{ "LOGIN_SUBTITLE" | translate }}</h4>
         <label class="input-group" for="username">
            <input
               type="text"
               id="username"
               formControlName="username"
               required
               placeholder=""
               minlength="6"
               maxlength="6"
               pattern="[A-Za-z0-9]{6}"
            />
            <label>
               {{ "USERNAME_LABEL" | translate }}
            </label>
            <div
               class="input-error"
               *ngIf="
                  loginForm.get('username')!.invalid &&
                  (loginForm.get('username')!.dirty ||
                     loginForm.get('username')!.touched)
               "
            >
               <small class="text-danger">{{
                  loginForm.get("username")!.errors | getFormError : "Username"
               }}</small>
            </div>
         </label>
         <label class="input-group" for="password">
            <input
               type="password"
               id="password"
               formControlName="password"
               required
               placeholder=""
               minlength="4"
               maxlength="32"
            />
            <label>
               {{ "PASSWORD_LABEL" | translate }}
            </label>
            <div
               class="input-error"
               *ngIf="
                  loginForm.get('password')!.invalid &&
                  (loginForm.get('password')!.dirty ||
                     loginForm.get('password')!.touched)
               "
            >
               <small class="text-danger">{{
                  loginForm.get("password")!.errors | getFormError : "Password"
               }}</small>
            </div>
         </label>
         <button type="submit" [disabled]="loginForm.invalid">
            {{ "LOGIN_BUTTON" | translate }}
         </button>
      </form>
      <div class="login-footer">
         <a [routerLink]="['/register']">{{ "LOGIN_REGISTER" | translate }}</a>
      </div>
   </div>
</main>
